{{define "applied_filters"}}
<h4>Applied filters</h4>
<div class="summary-report-table" style="width: 100%;">
    <table style="table-layout: fixed; word-break: break-word;">
        {{range .AppliedFilters}}
            <tr>
                <th> {{ .Type_ }}</th>
            </tr>
        {{end}}

        {{range .AppliedFilters}}
            <tr>
                <th> {{ .TypeInformation }}</th>
            </tr>
        {{end}}
    </table>
</div>
{{end}}
 