{{define "overall_severity_summary"}}
<br>
<h3>{{.OverallSeveritySummary}}</h3>
<table style="width:100%; table-layout: fixed;">
    <tr>
        {{ range $key, $value := .SeverityCount }}
            <th class="table-header-{{$key}}"> {{$key}} - {{$value}} </th>
        {{ end }}
    </tr>
</table>
<br>
{{end}}